@model HealthCareApp.Models.PatientCheckUp
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="wrapper">
    <div class="content-wrapper">

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <form asp-action="CheckUp">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="Symptoms" class="control-label"></label>
                                                <input asp-for="Symptoms" class="form-control" />
                                                <span asp-validation-for="Symptoms" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Diagnosis" class="control-label"></label>
                                                <input asp-for="Diagnosis" class="form-control" />
                                                <span asp-validation-for="Diagnosis" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CheckupDate" class="control-label"></label>
                                                <input asp-for="CheckupDate" class="form-control" />
                                                <span asp-validation-for="CheckupDate" class="text-danger"></span>

                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                        </form>
                                        <div>
                                            <a asp-controller="Patient" asp-action="Index">Back to Patient Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</div>
