@model HealthCareApp.Models.Patient

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <form asp-action="Create">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="FirstName" class="control-label"></label>
                                                <input asp-for="FirstName" class="form-control" />
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="MiddleName" class="control-label"></label>
                                                <input asp-for="MiddleName" class="form-control" />
                                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="LastName" class="control-label"></label>
                                                <input asp-for="LastName" class="form-control" />
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Email" class="control-label"></label>
                                                <input asp-for="Email" class="form-control" />
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Phone" class="control-label"></label>
                                                <input asp-for="Phone" class="form-control" />
                                                <span asp-validation-for="Phone" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="BirthDate" class="control-label"></label>
                                                <input asp-for="BirthDate" class="form-control" />
                                                <span asp-validation-for="BirthDate" class="text-danger"></span>

                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Gender" class="control-label"></label>
                                                <select asp-for="Gender" class="form-control">
                                                    <option>Please select</option>
                                                    <option value="Male">Male</option>
                                                    <option value="Female">Female</option>
                                                    <option value="Other">Other</option>
                                                </select>
                                                <span asp-validation-for="Gender" class="text-danger"></span>

                                            </div>
                                            <div class="form-group">
                                                <label asp-for="BloodGroup" class="control-label"></label>
                                                <select asp-for="BloodGroup" class="form-control">
                                                    <option>Please select</option>
                                                    <option value="A+">A+</option>
                                                    <option value="A-">A-</option>
                                                    <option value="B+">B+</option>
                                                    <option value="B-">B-</option>
                                                    <option value="AB+">AB+</option>
                                                    <option value="AB-">AB-</option>
                                                    <option value="0-">0-</option>
                                                    <option value="0+">0+</option>
                                                </select>
                                                <span asp-validation-for="BloodGroup" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Address" class="control-label"></label>
                                                <input asp-for="Address" class="form-control" />
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                        </form>
                                        <div>
                                            <a asp-action="Index">Back to List</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      
        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</div>
