@model HealthCareApp.Models.BedAllotment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <form asp-action="Create">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="PatientName" class="control-label"></label>
                                                <select asp-for="PatientName" asp-items="@(new SelectList(ViewBag.ListofPatients,"FullName","FullName"))" class="form-control">
                                                    <option>Please Select</option>
                                                </select>

                                                <span asp-validation-for="PatientName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="BedName" class="control-label"></label>
                                                <select asp-for="BedName" asp-items="@(new SelectList(ViewBag.ListofBeds,"BedName","BedName"))" class="form-control">
                                                    <option>Please Select</option>
                                                </select>

                                                <span asp-validation-for="BedName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="BedCategory" class="control-label"></label>
                                                <select asp-for="BedCategory" asp-items="@(new SelectList(ViewBag.ListofBedCategories,"BedCategoryName","BedCategoryName"))" class="form-control">
                                                    <option>Please Select</option>
                                                </select>

                                                <span asp-validation-for="BedCategory" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="HospitalizationDate" class="control-label"></label>
                                                <input asp-for="HospitalizationDate" class="form-control" />
                                                <span asp-validation-for="HospitalizationDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="DischargeDate" class="control-label"></label>
                                                <input asp-for="DischargeDate" class="form-control" />
                                                <span asp-validation-for="DischargeDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Notes" class="control-label"></label>
                                                <input asp-for="Notes" class="form-control" />
                                                <span asp-validation-for="Notes" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                            </div>
                                        </form>
                                        <div>
                                            <a asp-action="Index">Back to List</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>
</div>

