@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HeathCareApp</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="~/lib/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="~/lib/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/lib/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/lib/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini .sidebar-collapse layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
              
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @if (signInManager.IsSignedIn(User))
                {
                    <li class="nav-item dropdown user-menu">
                        @*<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                            JohnDoe
                        </a>*@
                        <form method="post" asp-action="logout" asp-controller="account">
                            <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                Logout @User.Identity.Name
                            </button>
                        </form>
                    </li>
                }

            </ul>
        </nav>

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-action="Index" asp-controller="Home" class="brand-link">
                <span class="brand-text font-weight-light">HealthCareApp</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Home" class="nav-link">
                                <i class=".nav-icon fas fa-th"></i>
                                <p>
                                    Dashboard
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Doctor" class="nav-link">
                                <i class=".nav-icon fas fa-user-md "></i>
                                <p>
                                    Doctors
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Patient" class="nav-link">
                                <i class=".nav-icon fas fa-wheelchair"></i>
                                <p>
                                    Patients
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class=".nav-icon fas fa-user"></i>
                                <p>
                                    Personnel Admin
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Nurse" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Nurses
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Receptionist" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Receptionists
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="CleaningStaff" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Cleaning Staff

                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class=".nav-icon fas fa-briefcase-medical"></i>
                                <p>
                                    Medicine Admin
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Medicine" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Medicine
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="MedicineCategory" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Medicine Category

                                        </p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class=".nav-icon fas fa-bed"></i>
                                <p>
                                    Bed Admin
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Bed" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Bed
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="BedCategory" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Bed Category
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="BedAllotment" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Bed Allotment
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class=".nav-icon fas fa-flask"></i>
                                <p>
                                    Laboratory Admin
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="LaboratoryTest" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Laboratory Test
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="LaboratoryTestCategory" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Laboratory Test Category
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="PatientLaboratoryTest" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Patient Laboratory Test
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class=".nav-icon fas fa-dollar-sign"></i>
                                <p>
                                    Finance
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="Expense" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Expenses
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-action="Index" asp-controller="ExpenseCategory" class="nav-link">
                                        <i class="far fa-dot-circle nav-icon"></i>
                                        <p>
                                            Expense Categories
                                        </p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div>
            @RenderBody()
            @RenderSection("Scripts", required: false)
        </div>

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2020 <a href="">HealthCareApp</a>.</strong> All rights
            reserved.
        </footer>


        @*Control Sidebar
            <aside class="control-sidebar control-sidebar-dark">
                 Control sidebar content goes here
            </aside>
             /.control-sidebar*@
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/lib/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/lib/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/lib/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/lib/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/lib/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/lib/moment/moment.min.js"></script>
    <script src="~/lib/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/lib/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/lib/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/js/demo.js"></script>

</body>
</html>
