<div class="wrapper">
    <div class="content-wrapper">
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>Doctors</h3>
                                <br><br><br><br>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user-md "></i>
                                @*<i class="ion ion-bag"></i>*@
                            </div>
                            <a asp-action="Index" asp-controller="Doctor" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>Patients</h3>
                                <br><br><br><br>
                            </div>
                            <div class="icon">
                                @*<i class="ion ion-stats-bars"></i>*@
                                <i class="fas fa-wheelchair"></i>
                            </div>
                            <a asp-action="Index" asp-controller="Patient" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h1>Personnel</h1>
                                <p>
                                    <a asp-action="Index" asp-controller="Nurse">Nurses <i class="fas fa-arrow-circle-right"></i></a>
                                    <br>
                                    <a asp-action="Index" asp-controller="Receptionist">Receptionists <i class="fas fa-arrow-circle-right"></i></a>
                                    <br>
                                    <a asp-action="Index" asp-controller="CleaningStaff">CleaningStaff <i class="fas fa-arrow-circle-right"></i></a>
                                </p>
                                @*<p></p>
                        <p></p>*@
                            </div>
                            <div class="icon">
                                <i class="ion ion-person-add"></i>
                            </div>
                            <p class="small-box-footer"><br></p>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>Medicines</h3>
                                <br><br><br><br>
                            </div>
                            <div class="icon">
                                <i class="fas fa-briefcase-medical"></i>
                            </div>
                            <a asp-action="Index" asp-controller="Medicine" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>Beds</h3>
                                <br><br><br><br>
                            </div>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                                @*<i class="ion ion-bag"></i>*@
                            </div>
                            <a asp-action="Index" asp-controller="Bed" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>Laboratory</h3>
                                <br><br><br><br>
                            </div>
                            <div class="icon">
                                @*<i class="ion ion-stats-bars"></i>*@
                                <i class="fas fa-flask"></i>
                            </div>
                            <a asp-action="Index" asp-controller="Laboratory" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h1>Finance</h1>
                                <p>
                                    <a asp-action="Index" asp-controller="Expense">Expenses <i class="fas fa-arrow-circle-right"></i></a>
                                    <br>
                                    <a asp-action="Index" asp-controller="Expense">Expenses <i class="fas fa-arrow-circle-right"></i></a>
                                    <br><br>
                                </p>
                                @*<p></p>
                        <p></p>*@
                            </div>
                            <div class="icon">
                                <i class="fas fa-dollar-sign"></i>
                            </div>
                            <p class="small-box-footer"><br></p>
                        </div>
                    </div>
                    
                  
                    <!-- ./col -->
                </div>
            </div>
        </section>
        </div>
    </div>
